@import '../../app/styles/colors.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.content {
  margin-top: 50px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 45px;
  &Item {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: $grey;
    }
  }
}

.phoneBlock {
  display: flex;
  gap: 13px;
}

.phoneNumber {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}


