@import '../../../../app/styles/colors.scss';

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  transform: translateX(-55px);
}

.text {
  width: 255px;
  margin: 28px 0;
}

.link {
  cursor: pointer;
  color: $btn;
  &:hover {
    color: #5c8a8d;
  }
}